<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-neweaten="{{hungry}}">
		{{#if hungry}}DEVOUR IT!{{else}}BARF IT OUT!!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
